# File: docker-compose.yml
# Author: YJ
# Email: yj1516268@outlook.com
# Created Time: 2020-09-29 13:27:40

# Description:

version: '3'
services:
  emqx:
    image: 'emqx/emqx:4.3-beta.1'
    container_name: 'emqx'
    hostname: 'emqx-docker'
    restart: 'unless-stopped'  # no, unless-stopped, always, on-failure:<max-retries>
    privileged: false
    ports:
      - '1883:1883'
      - '8083:8083'
      - '8084:8084'
      - '8883:8883'
      - '18083:18083'
    volumes:
      - 'emqx-data:/opt/emqx/data'
      - 'emqx-etc:/opt/emqx/etc'
      - 'emqx-lib:/opt/emqx/lib'
      - 'emqx-log:/opt/emqx/log'
    networks:
      emqx:
        aliases:
          - node1.emqx.io
    environment:
      TZ: 'Asia/Shanghai'
      EMQX_NAME: 'emqx'
      EMQX_HOST: 'node1.emqx.io'
      EMQX_CLUSTER__DISCOVERY: 'static'
      EMQX_CLUSTER__STATIC__SEEDS: 'emqx@node1.emqx.io, emqx@node2.emqx.io'
    labels:
      servicename: 'emqx'
    logging:
      driver: 'json-file'      # none, local, json-file(default), ...
      options:
        max-size: '10m'
        max-file: '3'
        tag: '{{.Name}}/{{.ID}}/{{.ImageName}}/{{.ImageID}}'
        labels: 'servicename'


volumes:
  emqx-data:
    name: 'emqx-data'
  emqx-etc:
    name: 'emqx-etc'
  emqx-lib:
    name: 'emqx-lib'
  emqx-log:
    name: 'emqx-log'


networks:
  emqx:
    name: 'emqx'
