# File: docker-compose.yml
# Author: YJ
# Email: yj1516268@outlook.com
# Created Time: 2019-10-14 14:32:04

# Description: The official Grafana docker container

version: '3.7'
services:
  grafana:
    image: 'grafana/grafana'
    container_name: 'grafana'
    restart: 'unless-stopped'       # no, unless-stopped, always, on-failure:<max-retries>
    privileged: false
    ports:
      - '127.0.0.1:3000:3000'
    volumes:
      - 'grafana:/var/lib/grafana'
      - './plugins:/var/lib/grafana/plugins'
    networks:
      grafana: {}
    environment:
      TZ: 'Asia/Shanghai'
      GF_PANELS_DISABLE_SANITIZE_HTML: 'true'
    labels:
      servicename: 'grafana'
    logging:
      driver: 'json-file'
      options:
        max-size: '10m'
        max-file: '3'
        tag: '{{.Name}}/{{.ID}}/{{.ImageName}}/{{.ImageID}}'
        labels: 'servicename'


volumes:
  grafana:
    name: 'grafana'


networks:
  grafana:
    name: 'grafana'
