# File: docker-compose.yml
# Author: YJ
# Email: yj1516268@outlook.com
# Created Time: 2019-11-08 14:30:10

# Description: An open-source time-series database optimized for fast ingest and complex queries. Engineered up from PostgreSQL, packaged as an extension
# 默认用户名：postgres

version: '3'
services:
  timescaledb:
    image: 'timescale/timescaledb:latest-pg12'
    container_name: 'timescaledb'
    hostname: 'timescaledb-docker'
    restart: 'unless-stopped'       # no, unless-stopped, always, on-failure:<max-retries>
    privileged: false
    ports:
      - '127.0.0.1:5433:5432'
    volumes:
      - 'timescaledb:/var/lib/postgresql/data'
    networks:
      timescaledb: {}
    environment:
      TZ: 'Asia/Shanghai'
      POSTGRES_DB: 'postgres'     # 默认数据库名
      POSTGRES_USER: 'postgres'   # 默认用户名
      POSTGRES_PASSWORD: 'postgres'
    labels:
      servicename: 'timescaledb'
    logging:
      driver: 'json-file'    # none, local, json-file(default), ...
      options:
        max-size: '10m'
        max-file: '3'
        tag: '{{.Name}}/{{.ID}}/{{.ImageName}}/{{.ImageID}}'
        labels: 'servicename'


volumes:
  timescaledb:
    name: 'timescaledb'


networks:
  timescaledb:
    name: 'timescaledb'
