# File: docker-compose.yml
# Author: YJ
# Email: yj1516268@outlook.com
# Created Time: 2020-07-22 10:31:25

# Description: Official container images for Microsoft SQL Server on Linux for Docker Engine

version: '3.7'
services:
  mssql-server:
    image: 'mcr.microsoft.com/mssql/server'
    container_name: 'mssql-server'
    hostname: 'mssql-server-docker'
    restart: 'unless-stopped'       # no, unless-stopped, always, on-failure:<max-retries>
    privileged: false
    ports:
      - '1433:1433'
    networks:
      mssql-server: {}
    environment:
      TZ: 'Asia/Shanghai'
      ACCEPT_EULA: 'Y'
      SA_PASSWORD: 'Ms-SQL-Server'
    labels:
      servicename: 'mssql-server'
    logging:
      driver: 'json-file'    # none, local, json-file(default), ...
      options:
        max-size: '10m'
        max-file: '3'
        tag: '{{.Name}}/{{.ID}}/{{.ImageName}}/{{.ImageID}}'
        labels: 'servicename'


networks:
  mssql-server:
    name: 'mssql-server'
